#p1 {border: 1px solid black; width: 1200px;
background-color: aqua; margin: 10px; height:100px;}

#p2 {border: 1px solid black; width: 1200px;
background-color: pink; margin: 10px; height:100px;}

#p3 {border: 1px solid black; width: 1200px;
background-color: green; margin: 10px; height:100px;}
